@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(20, 20, 32, 0.7);
    overflow: hidden;
    background-image: url("double-bubble-dark.png");
}

/* Navigation */
.nav {
    z-index: 20;
    background-color: rgba(17, 14, 17, 0.7);
    position: fixed;
    padding: 5px;
    padding-left: 20px;
    width: 100vw;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 3em;
    border-bottom: 5px solid  rgb(95, 4, 87);
    align-items: center;
    justify-content: center;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}


#nav-img {
    position: fixed;
    margin-top: 3px;
    margin-left:0px;
    z-index: 5;
    width: 1300px;
    height:30px;
    right: 10px;
}

/* Main */

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    background-color: rgba(150, 120, 147, 0.7);
    height: 70vh;
    position: relative;
    overflow-y:scroll;
    padding: 30px 40px;
    margin-top: -90px;
    margin-bottom: 30px;
    border-radius: 10%;
    font-size: 1.5em;
    word-spacing: 2px;
}

.about {
margin-top: -100px;
}

.circle1 {
    text-align:center;
    height: 100px;
    width: 20vw;
    border-radius: 80%;
    background-color:rgba(172, 24, 157, 0.7);
    z-index: 1;
}

h1 {
   font-size: 5em;
    
}


/* Little Squares */


a::before {
    background: rgba(255, 255, 255, 0.6);
    content: "";
    left: 5px;
    bottom: 2px;
    height: 10px;
    position: absolute;
    transition: 0.7s;
    width: 10px;
    border-radius: 5%;
  }


 a:hover + a::before { 
  transform: translateX(37px);
}

#about:hover + a::before { 
  transform: translateX(150px);
}

#music:hover + a::before { 
  transform: translateX(269px);
}

#gallery:hover + a::before { 
  transform: translateX(400px);
}

#contact:hover + a::before { 
  transform: translateX(540px);
}

  a:hover {
      color:rgba(235, 229, 235, 0.7)
  } 

/* pic coontainer */
#pics {
background-color: rgba(17, 14, 17, 0.7);
max-height: 60%;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

img {
  max-height: 100%;
  max-width: 100%;

}
 /* Gallery buttons */

 .buttons {
  background: rgba(255, 255, 255, 0.3);
  width: 300px;
  margin-top: 40px;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10%;

 }

 #left {
   margin-right: 50px;
   border-radius: 50px;
   font-size: 2em;


 }

   #right {
    border-radius: 50px;
    font-size: 2em;
   

   

 }
/* Footer */
.footer {
    position: fixed;
    height: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(95, 4, 87);
  color: white;
  text-align: center;
}

